
body {
    margin: 0;
    background-color: #b6b0be;

    font-family: 'Arimo', sans-serif;
    line-height: 1.3;
    color: white;
}

header {
    background-color: #3f1873;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo-img {
    height: 200px; 
    width: auto; 
    margin-right: 10px; 
    border-radius: 40%; 
}

.logo-text {
    color: white;
    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 22px;
}

p, nav a {
    font-size: 16px;
    font-weight: 400;
}

.caption {
    font-size: 12px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit;
}        

.logo-link:hover {
    opacity: 0.8; 
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #b6b0be;
}

.content-wrapper {
    padding: 0 5% 60px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.study-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0; 
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.btn-card {
    background-color: #2d1d42;
    color: white;
    text-decoration: none;
    
    width: 280px;
    height: 180px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-card:hover {
    background-color: #b6b0be;
    color: #2d1d42;
}

.buttons-background {
    background-color: #b6b0be;
    width: 100%;
    padding: 20px 0;
}

.main-hero-area {
    background-color: #3f1873;
    width: 100%;;
}